<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views">
        <view id="org.eclipse.epsilon.eol.query.QueryRewritingView"
             name="Query Rewriting"
             category="org.eclipse.epsilon.dt"
             class="org.eclipse.epsilon.eol.query.QueryRewritingView"
             icon="icons/eol.png"/>
</extension>
	<extension
         point="org.eclipse.epsilon.eol.dt.launchConfigurationExtension">
      <launchConfigurationExtension
            listener="org.eclipse.epsilon.eol.query.EolQueryRewriter">
      </launchConfigurationExtension>
   </extension>

</plugin>
