/.EvlDSLDescriptionLabelProvider.java._trace
/.EvlDSLLabelProvider.java._trace
/.EvlDSLDescriptionLabelProvider.xtendbin
/.EvlDSLLabelProvider.xtendbin
/EvlDSLDescriptionLabelProvider.java
/EvlDSLLabelProvider.java
